<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="WindowsMIDIServices" value="https://pkgs.dev.azure.com/livemidi/WindowsMIDI/_packaging/WindowsMIDIServices/nuget/v3/index.json" />
  </packageSources>
</configuration>
